.slide-content {
    background-color: #000080;
  }
  .marquee-container {
    overflow: hidden;
    white-space: nowrap;
    width: 400cqmax;
  }
  .bn-bordernone {
    background-color: #87CEEB;
  }
  
  .bn-title {
    animation: blink 1s infinite;
    color: #FFFFFF; 
    text-align: center;
    
  }
  
  @keyframes blink {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }

  
  
  .marquee-content {
    animation: scrollLeft 10s linear infinite;
    display: inline-block;
    color: #ffff; 
    background-color: #000080;
    width: 30cqmax;
  }
  
  @keyframes scrollLeft {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .marquee-email {
    display: inline-block;
    color: #ffff;
    text-align: right;
    background-color: #000080;
  }
  